.card {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 12px;
    margin: 6px;
    text-align: left;
}
.title {
    font-size: calc(6px + 2vmin);
    color: #000000;
}
.content {
    color: #000000;
}