.App {
  width: 100vw;
  text-align: center;
  background-image: url(./images/background.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 18px 0;
}
