:root {
  --primary-color: #4ea5d9;
  --primary-color-light: #bcddf1;
  --primary-color-dark: #154865;

  --secondary-color: #44cfcb;
  --secondary-color-light: #beeeed;
  --secondary-color-dark: #155150;

  --accent-color: #daff7d;
  --info-color: #81559b;
  --danger-color: #ff934f;

  --user-color-1: #4ea5d9;
  --user-color-2: #44cfcb;
  --user-color-3: #daff7d;
  --user-color-4: #81559b;
  --user-color-5: #ff934f;

  --task-unassigned-color: #e7e7e7;
  --task-either-color: #bcddf1;
  --task-done-color: #44cfcb;

  --background-color: #f3fcff;

  --text-color: #000000;
  --text-light-color: #424242;
}

body {
  margin: 0;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}
